.HeaderTemplate{
    border-bottom:1px solid grey;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__link{
        height: 30px;
        padding: 0 15px;
        border:1px solid grey;
        border-radius: 4px;
        display: flex;
        align-items: center;   
        cursor: pointer;
    }

    :first-child{
        margin-right: 30px;
    }

    .active{
        background: blue;
        color: white;
    }
}